*.terraformrc
*/.terraformrc

*LICENSE.md
*CHANGELOG.md

.terraform.lock.hcl
*terraform-provider-incus*

*.log
*.tfstate
*.backup
infra-automation/packer/output-*/
infra-automation/packer-debug.log
infra-automation/terraform/terraform.tfvars